@import url("https://rsms.me/inter/inter.css");

body {
  color: #424242;
  font-family: "Inter", sans-serif;
}

a {
  color: #087ed1;
  text-decoration: none;
}

label {
  cursor: pointer;
}
label,
.fw-500 {
  font-weight: 500;
}

.table > :not(:first-child) {
  border-top: 0;
}

.navbar {
  border-bottom: 1px solid #e5e9ef;
}

.bg-primary {
  background-color: #087ed1 !important;
}

.btn,
.form-select,
.form-control {
  border-radius: 0;
}

.form-select:focus,
.form-control:focus {
  box-shadow: none;
}
